<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckWord</title>
</head>
<body style="background-color: rgb(143, 193, 242)">
    <div>
        <h3 style="border:2px solid blue; background-color: blanchedalmond; text-align: center;">Check a Word</h3>
    </div>
    <div>
        Check if your word has been used before:
        <form action="{{ url_for('views.check')}}" method="post">
            <input type="text" name="check word" placeholder="Type here" />
            <button style="border-radius: 10px;" type="submit">Check</button>
        </form>
        {{ user_word }}: {{ check }}
    </div>
    <br>
    <div>
        <form action="{{ url_for('views.home')}}">
            <button id="Home" style="border-radius: 10px;">Back</button> 
        </form>
    </div>
</body>
</html>