<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script type="module" src="https://pyscript.net/releases/2024.6.1/core.js"></script>
</head>
<body style="background-color: rgb(143, 193, 242)">
    <div>
        <h1 style="border:2px solid blue; background-color: blanchedalmond; text-align: center;">Wordle Helper</h1>
    </div>
    <div>
        <h3>1. Start with a random word and note whether it's been used before or not: </h3>
        <p>How about the word 
            <span style="font-size:15px; color:rgb(154, 6, 6); font-weight:bold">{{ new_word }}</span>?
             It's a {{ word_status }} word.
        </p>
        Or hit <button style="border-radius: 10px;">Refresh</button> to try another word.
    </div>
    <div>
        <h3>2. Were any letters correct? </h3>
        <p>
            Enter any <span style="color: green; font-weight: bold;">green</span> letters and their position. <br>
            Enter any <span style="color: gold; font-weight: bold;">amber</span> letters and their position. <br>
            Enter all remaining letters that aren't in the solution.
        </p>
    </div>
    <div>
        <h3>3. Choose from the filtered list of possible solutions. </h3>
        <p>
            Then return to step 2 and filter the list down more.
        </p>
    </div>
    <div>
        <p> check word </p>
        <input type="text" id="word-to-check" placeholder="Enter a word..." />
        <button py-click="check_word">Check Word</button>
        <div id="output"></div>
        <script type="py" src="./wordle.py"></script>
    </div>
</body>
</html>