<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script type="module" src="https://pyscript.net/releases/2024.6.1/core.js"></script>
</head>
<body style="background-color: rgb(143, 193, 242)">
    <div>
        <h1 style="border:2px solid blue; background-color: blanchedalmond; text-align: center;">Wordle Helper</h1>
    </div>
    <div>
        <h3>1. Start with a random word and note whether it's been used before or not: </h3>
        <div>
            Check if your word has been used before:
            <form action="{{ url_for('views.check')}}" method="post">
                <input type="text" name="check word" placeholder="Type here" />
                <button style="border-radius: 10px;" type="submit">Check</button>
            </form>
            {{ user_word }}: {{ check }}
        </div>
        <div>
            <br>
            <form action="{{ url_for('views.home')}}" method="get">
                Or you can <button style="border-radius: 10px;">click me</button> for a randomly selected new word:  
                <span style="font-size:20px; color:rgb(154, 6, 6); font-weight:bold">{{ new_word }}</span>
                <br>
            </form>
        </div>
    </div>
    <h5>---------------------------------------------</h5>
    <div>
        <h3>2. Were any letters correct? </h3>
        <p>
            Enter any <span style="color: green; font-weight: bold;">green</span> letters and their position. <br>
            Enter any <span style="color: gold; font-weight: bold;">amber</span> letters and their position. <br>
            Enter all remaining letters that aren't in the solution.
        </p>
    </div>
    <h5>---------------------------------------------</h5>
    <div>
        <h3>3. Choose from the filtered list of possible solutions. </h3>
        <p>
            Then return to step 2 and filter the list down more.
        </p>
    </div>
    
</body>
</html>